h2

{
    background-color: black ;
    
    color: rgb(139, 83, 9);

}
.Greeting
{   

    background-color: blue;
    color: aliceblue;


}
#grt
{
    background-color: red;
    color: antiquewhite;
}