
body{
    background-color:yellow ;
    color: aqua;
} 

@font-face {
    font-family: Fontfun;
    src: url(./GentyDemo-Regular.otf);
}



#box
{


    height: 250px;
    width: 250px;
    background-color: red;
}

#box1
{ height: 50%;
    width: 50%;
    background-color:blanchedalmond ;


}

#box2
{height: 25%;
    width: 100%;
    background-color: aqua;
    
}

#box3
{height: 25%;
    width: 100%;
    background-color: black;


}

h2
   { font-size: 50px;
    
    font-family: fontfun;

    }