#courage{

    height: 200px;
    position:absolute;
    animation: rotateAndMove 5s ease infinite;
    animation-direction: alternate;


}
@keyframes rotateAndMove{


    0%{left: 0%;
        top: 0%;
        
    }
    25%{ left: 80%;
        top: 0%;
        transform:rotate(720deg)

    }
    50%{left: 80%;
        top: 80%;
        transform:rotate(0deg)

    }
    75%{left: 0%;
        top: 80%;
        transform:rotate(720deg)

    }
    100%{left: 50%;
        top: 50%;
        transform:rotate(0deg)

    }

}
.heart{

    height: 100px;
    position: relative;
    animation: fallingHearts 3s ease infinite;
    animation-direction: alternate-reverse;
}



@keyframes fallingHearts{
    100%{

        transform: translateY(500px);
    }



}
.heart1{
    animation-delay: 0.1s;

}
.heart2{
    animation-delay: 0.3s;

}
.heart3{
    animation-delay: 0.5s;

}

